.Header {
  justify-content: center;
  text-align: center;
  margin-bottom: 1em;
}

.ContentArea {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 25%;
  border: 1px solid white;
}

.LeftPanel {
  width: 15%;
}

.MainContentArea {
  overflow: auto;
  padding: 20px;
  height: 300px;
}

.RightPanel {
  width: 15%;
}

.Footer {
  text-align: center;
}
